*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
h1{
    font-size: 30px;
    color: crimson ;
    font-family: monospace;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
article{
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box{
    width:33%;
    background-color: lavenderblush;
    margin: 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
}
.box img{
    width:385px;
    height: 200px;
    padding: 5px 10px 0 10px;
    border-radius:8%;
}
.box p{
    width:380px;
    padding: 0 20px;
    color:coral;
    text-align: center;
}
