*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* HEADER STARTS------------------------------------------------------------------------ */
body{
    cursor: grab;
}
header{
    
    width: 100%;
    height: 350px;
    display: flex ;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 2px solid rgba(68, 186, 255, 0.101); */
    /* background: turquoise; */
}
/* NAVBAR STARTS------------------------------------------------------------------------ */

nav{
    height: 150px;
    width: inherit;
    padding: 0 150px;
}
nav img,ul{
    margin: 0;
}
.img-circle{
    float: left;
    width: 180px;
    height: 180px;
    margin: 30px 0 0 70px;
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.55);
    transition: 0.3s;
}
.my_ul_navbar{
    float: right;
    list-style-type: none;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.925);
    font-size: 30px;
    padding: 20px 15px 0 0 ;
    justify-content: space-around;
}
.my_ul_navbar li{
    display: inline-block;
    padding: 0 10px;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.my_ul_navbar li:hover{
    color: rgb(255, 217, 0);
    text-shadow: 1px 2px 8px rgba(238, 255, 2, 0.808);
    transition: 0.25s ease-in-out;
    letter-spacing: 1px;
    background:rgba(255, 255, 255, 0.181) ;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.381) ;
    backdrop-filter: blur( 5.5px );

}
#dropbtn{
    border: none;
    color: rgba(255, 255, 255, 0.925);
    background: transparent;
    outline: none;
    float:right;
    /* position: relative;
    right: -20px; */
    width: fit-content ;
    /* width: 2px; */
    font-size: 45px;
    display: none;
    transition: 0.5s ease-in-out;
    transform-origin: center center;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}
@keyframes faderev{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.15;
    }
    100%{
        opacity: 1;
    }
}
.dropdown-content {
    border-radius: 10px;
    display: none;
    position: relative;
    list-style: none;
    width: 200px;
    float: right;
    top: 70px;
    color: rgba(255, 255, 255, 0.925);
    font-size: 30px;
    box-shadow: 0px 8px 32px 0px rgba(155, 173, 255, 0.281);
    animation: move 1s  ;
    background: linear-gradient(to right,rgba(1, 17, 107,0.3), rgba(22, 150, 255, 0.182));;
    backdrop-filter: blur( 8.5px );
    z-index: 10;
    
}
@keyframes move{
    0%{
        top:120px;
        opacity: 0;
    }
    100%{
        z-index: 10;
        top: 70px;
    }
}
.dropdown-content li{
    text-align: center;
}
.dropdown-content li:hover{
    cursor: pointer;
    color: rgb(255, 215, 103);
    text-shadow: 1px 2px 8px rgba(238, 255, 2, 0.808);
    /* background: radial-gradient(rgba(255, 255, 255, 0.568) 5%,rgba(255, 255, 255, 0.411) 20%, transparent 50%); */
    background: rgba(255, 255, 255, 0.211);
    transition: 0.25s ease-in-out;
    letter-spacing: 1px;
    border-radius: 10px;
}
/* NAVBAR ENDS------------------------------------------------------------------------ */

/* QOUTEDIV STARTS--------------------------------------------------------------------- */
#quote{
    height: 150px;
    width: inherit;
    padding: 0 150px;
    /* display: flex;
    flex-direction: row; */
    display: inline;
}
#quote .name{
    position: relative;
    top: 60px;
    float:left ;
    pointer-events: none;
}
#quote .name h1, b{
    color: rgb(223, 229, 255);
    padding: -1px 0; 
    font-family: 'Pacifico', cursive;
    font-weight: lighter;
    text-align: center;
    width: 310px;
}

#quote .thought span{
    color: gold;
    line-height: 1.15;
    
}
#quote .thought span:nth-child(1){
    cursor: url("../imgs/final.png"),auto;
}
#quote .thought span:nth-child(3){
    cursor: url("../imgs/final2.png"),auto;
}
#quote .thought span:last-child{
    cursor: url("../imgs/final3.png"),auto;
}
#quote .thought span:hover{
    transition: 0.25s ease-in-out;
    text-shadow: 1px 2px 8px rgba(238, 255, 2, 0.808);

}
#quote .thought{
    font-size: 30px;
    color: ivory;
    padding-right: 150px;
    float: right;
    text-align:center ;
    font-weight: bold;
}

.wave-div{
    
    height: 5%;
    box-shadow: 0px -14px 0px -8px rgb(255, 255, 255) inset;
}
.svgwave{
    position: relative;
    top: 0;
}
/* HEADER ENDS------------------------------------------------------------------------ */


/* ABOUT STARTS------------------------------------------------------------------------ */
#about{
    cursor: url("../imgs/about.png"), auto;  
    padding: 30px 150px 0 150px;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: row;
}
#about .text{
    flex-direction: column;
}
#about .text h1{
    font-size: 60px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: rgb(85, 85, 85);
    font-weight: lighter;
    border-left: 5px solid rgb(85, 85, 85);
    border-radius: 5px;
}
#about .smallscreenimg{
    display: none;
    width: 45%;
    height: auto;
    margin: 0 0 0 50px ;
    border: 2px solid rgb(179, 179, 179);
    border-radius:40px ;
}
#about .text p{
    font-size: 20px;
    color: grey;
    margin: 0 0 0 40px;
    padding: 2.5px 0;
}
.aboutpic{
    display: flex;
    align-items: center;
}
.aboutpic img{ 
    width: 95%;
    height: auto;
    margin: 0 0 0 50px ;
    border: 2px solid rgb(179, 179, 179);
    border-radius:40px ;
}
/* ABOUT ENDS------------------------------------------------------------------------ */

/* SKILLS STARTS------------------------------------------------------------------------ */
#skills{
    cursor: url("../imgs/skills.png"), auto; 
    padding: 20px 150px 0 150px;
    box-shadow: 0 0 10px 10px rgb(255, 255, 255) inset ;
    display: flex;
    flex-direction: column;
}
#skills h1{
    font-size: 60px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: rgb(85, 85, 85);
    font-weight: lighter;
    border-left: 5px solid rgb(85, 85, 85);
    border-radius: 5px;
}
#skills .skill_cards{
    margin-left: 20px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#skills .skill_cards .box{
    position:relative;
    width: 150px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 5px 10px rgba(255, 125, 32,0.2);
    border-radius: 10px;
}
#skills .skill_cards .box .percent{
    position:relative;
    width: 80px;
    height: 80px;
}
.h{
    color:rgb(255, 125, 32) ;
}
.cs{
    color:rgb(32, 121, 255) ;
}
.j{
    color:rgb(255, 240, 32) ;
}
.p{
    color: rgb(9, 194, 9);
}
.c{
    color: rgb(35, 7, 158);
}
.java{
    color: rgb(158, 7, 7);

}
.bootstrap{
    color: rgb(103, 7, 158);
}
.arduino{
    color: rgb(0,152,155);
}
.db{
    color: rgb(26, 32, 119);
}
.blank{
    color: rgb(156, 156, 156);
}
#skills .skill_cards .box .cover{
    width: 80px;
    height: 80px;
    background:white;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 80px;
}
#skills .skill_cards .box .cover:hover{
    opacity: 0;
    transition: 1s ease-in-out;
}
#skills .skill_cards .box .blank:hover{
    opacity: 1;
    /* transition: none; */
}
#skills .skill_cards .box .percent svg{
    position:relative;
    width: 80px;
    height: 80px;
    padding: 10px 0 0 5px;
}
#skills .skill_cards .box .percent svg circle{
    width: 80px;
    height: 80px;
    fill: none;
    stroke-width: 7;
    stroke:#000;
    transform: translate(5px, 5px);
    stroke-dasharray: 188.5;
    stroke-dashoffset: 188.5;
    stroke-linecap: round;
}
#skills .skill_cards .box .percent svg circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: #f3f3f3;
}
#skills .skill_cards .box .percent .p_html circle:nth-child(2){
    stroke-dashoffset: 25;
    stroke: rgb(255, 125, 32);
}
#skills .skill_cards .box .percent .p_css circle:nth-child(2){
    stroke-dashoffset: 65;
    stroke: rgb(32, 121, 255);
}
#skills .skill_cards .box .percent .p_js circle:nth-child(2){
    stroke-dashoffset: 130;
    stroke: rgb(255, 240, 32);
}
#skills .skill_cards .box .percent .p_py circle:nth-child(2){
    stroke-dashoffset: 120;
    stroke: rgb(9, 194, 9);
}
#skills .skill_cards .box .percent .p_c circle:nth-child(2){
    stroke-dashoffset: 150;
    stroke: rgb(35, 7, 158);
}
#skills .skill_cards .box .percent .p_java circle:nth-child(2){
    stroke-dashoffset: 120;
    stroke: rgb(158, 7, 7);
}
#skills .skill_cards .box .percent .p_bootstrap circle:nth-child(2){
    stroke-dashoffset: 85;
    stroke: rgb(103, 7, 158);
}
#skills .skill_cards .box .percent .p_arduino circle:nth-child(2){
    stroke-dashoffset: 65;
    stroke: rgb(0, 152, 155);
}
#skills .skill_cards .box .percent .p_db circle:nth-child(2){
    stroke-dashoffset: 45;
    stroke: rgb(26, 32, 119);
}
#skills .skill_cards .box .percent .p_blank circle:nth-child(2){
    stroke-dashoffset: 188.5;
    stroke: rgb(156, 156, 156);
}
#skills .skill_cards .box .percent .number{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#skills .skill_cards .box .percent .number h2{
    font-size: 20px;
}
#skills .skill_cards .box .percent .number h2 span{
    font-size: 10px;
}
#skills .skill_cards .box .text{
    padding: 20px 0 0 0;
    font-weight: 700 ;
    letter-spacing: 1px;
    font-size: 20px;
}

/* SKILLS ENDS------------------------------------------------------------------------ */


/* WORKS STARTS------------------------------------------------------------------------ */

#works{
    cursor: url("../imgs/work.png") 50 44, auto;  
    padding: 20px 150px 0 150px;
    box-shadow: 0 0 10px 10px rgb(255, 255, 255) inset ;
    display: flex;
    flex-direction: column;
}
#works a{
    text-decoration: none;
}
#works h1{
    font-size: 60px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: rgb(85, 85, 85);
    font-weight: lighter;
    border-left: 5px solid rgb(85, 85, 85);
    border-radius: 5px;
}
#works .my_work{
    margin-left: 20px;
    height: 500px;
    display: flex;
    flex-direction: column;
}
.js-work, .arduino-work{
    width: inherit;
    height:inherit;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}
.js-work::-webkit-scrollbar, .arduino-work::-webkit-scrollbar{
    background: transparent;
    
}
#works .my_work  .wbox{
    position:relative;
    width: 300px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 5px 10px rgba(255, 125, 32,0.2);
    border-radius: 10px;

}

.wcard{
    width: inherit;
    height: inherit;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display:flex;
    align-items: flex-end;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.wcard:before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom, rgba(95, 130, 170, 0.5), rgb(157, 183, 253));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;

}
.wcard:hover:before{
    opacity: 1;
}

.wcard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.wcard .info{
    cursor: url("../imgs/work.png") 50 44, auto;  
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    border-radius: 10px;

}

.wcard:hover .info{
    opacity: 1;
    transform: translateY(0px);
    border-radius: 10px;

}
#works .my_work .js-work #arrow{
    display: none;
    font-size: 100px;
    position: relative;
    top: 20%;
    right: 1090px;
    height: 50px;
    width: fit-content;
    float: right;
    color: rgba(1, 17, 107, 0.712);
    text-shadow:   0 0 20px rgba(74, 96, 221, 1), 0 0 30px rgba(74, 96, 221, 1), 0 0 40px rgba(74, 96, 221, 1), 0 0 55px rgba(74, 96, 221, 1), 0 0 75px rgba(74, 96, 221, 1);
}

/* WORKS ENDS------------------------------------------------------------------------ */


/* CONTACT STARTS-------------------------------------------------------------------- */

#contact{
    cursor: url("../imgs/contact.png") 50 44, auto;
    padding: 20px 150px 0 150px;
    box-shadow: 0 0 10px 10px rgb(255, 255, 255) inset ;
    display: flex;
    flex-direction: column;
}
#contact h1{
    font-size: 60px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: rgb(85, 85, 85);
    font-weight: lighter;
    border-left: 5px solid rgb(85, 85, 85);
    border-radius: 5px;
}
#contact a{
    text-decoration: none;
}
#contact .conicon{
    margin-left: 20px;
    margin-bottom: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    
}

#contact .conicon div{
    cursor: url("../imgs/contact.png") 50 44, auto;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
    height: 50px;
    margin: 5px;
}
#contact .conicon div:hover{
    transition: 0.7s ease-in-out;

}

#contact .conicon #mail{
    border: 2px solid rgb(255, 77, 71);
    color:rgb(255, 77, 71) ;
    box-shadow: 0px 5px 10px rgba(255, 77, 71,0.2) ;
}
#contact .conicon #fb{
    border: 2px solid rgb(74, 71, 255);
    color:rgb(74, 71, 255);
    box-shadow: 0px 5px 10px rgba(74, 71, 255,0.2);
}
#contact .conicon #github{
    border: 2px solid rgb(37, 37, 37);
    color:rgb(37, 37, 37);
    box-shadow: 0px 5px 10px rgba(37, 37, 37,0.2);
}
#contact .conicon #insta{
    border: 2px solid rgb(253, 32, 25);
    color:rgb(253, 32, 25) ;
    box-shadow: 0px 5px 10px rgba(253, 32, 25,0.2) ;
}
#contact .conicon #twitter{
    border: 2px solid #17a2b8;
    color:#17a2b8;
    box-shadow: 0px 5px 10px rgba(23,162,184,0.2);
}
#contact .conicon #linkedin{
    border: 2px solid rgb(43, 91, 250);
    color:rgb(43, 91, 250) ;
    box-shadow: 0px 5px 10px rgba(43, 91, 250,0.2) ;
}

#contact .conicon #mail:hover{
    color: whitesmoke;
    background: rgb(255, 77, 71);
}
#contact .conicon #fb:hover{
    background:rgb(74, 71, 255);
    color:whitesmoke;
}
#contact .conicon #github:hover{
    background:rgb(37, 37, 37);
    color:whitesmoke;
}
#contact .conicon #insta:hover{
    background: rgb(253, 32, 25);
    color:whitesmoke;
}
#contact .conicon #twitter:hover{
    background: #17a2b8;
    color:whitesmoke;
}
#contact .conicon #linkedin:hover{
    background: rgb(43, 91, 250);
    color:whitesmoke;
}

/* CONTACT ENDS---------------------------------------------------------------------- */

/* FOOTER STARTS--------------------------------------------------------------------- */
footer{
    
    background-color:rgb(1, 17, 107) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: ivory;
    font-size: 20px;
    height: 40px;
    padding: 5px 0;
}
/* FOOTER ENDS--------------------------------------------------------------------- */

/* SCROLL EFFECT STARTS------------------------------------------------------------------- */
.scrleff{
    position: fixed;
    background-image: url("../imgs/scrollbg.png");

    width: 100%;
    height: 80px;
    z-index: 50 ;
}
.scrleff img{
    height: 65px;
    width: 65px;
    position: relative;
    top: -23px;
    box-shadow: 0 0 6px 3px rgba(255, 255, 255, 0.6);
}
/* SCROLL EFFECT ENDS------------------------------------------------------------------- */