*{
    margin: 0;
    padding:0;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
body{
    background:linear-gradient(rgb(23, 23, 90),rgb(193, 38, 224));
}
#container01{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container02{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headings{
    font-size:35px;
    padding: 0 0 15px 0;
}
h1{
    padding:20px 0 0 0;
}
#hr,#min, #sec{
    outline: none;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    width: 100%;
    height: auto;
    font-size: 50px;
    color:white;
    background: transparent;

}
#hr::-webkit-inner-spin-button, #hr::-webkit-outer-spin-button,#min::-webkit-inner-spin-button, #min::-webkit-outer-spin-button,
#sec::-webkit-inner-spin-button, #sec::-webkit-outer-spin-button{
-webkit-appearance: none;
margin: 0;
} 
#hour,#minutes, #seconds{
    padding: 0 3px 0 3px;
    width: 130px;
    height: 180px ;
}
.increase,.decrease{
    width: 100%;
    height: auto;
    font-size: 50px;
    padding: 0 3px 0 3px;
    border:0;
    outline: none;
    background: transparent;
    color:white;
}
#submit{
    width: 135px;
    height: 40px;
    background-color: rgb(0, 119, 255);
    border: 0;
    border-radius:10px;
    outline: none;
    font-size: 30px;
}
#blankspace{
    width:100%;
    height: 150px;
}
#main p{
    padding-bottom: 20px;
    font-size: 80px;
}
#main b{
    font-family:sans-serif;
    font-size: 80px;
    text-size-adjust: 30px;
    padding-bottom: 10px;
}
#main span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    width:100%;
    margin:0 ;
}
#main span div{
    padding:0 30px 0 30px;
}
#main span div button{
    height: 100%;
    width: 120px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border:2px solid white;
    border-radius: 50px;
}
#main span div button:focus{
    animation-delay: 2s;
    background-color: white;
    color: rgb(240, 133, 34) ;
    outline: none;
}