*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:250px;
    background-color: rgb(50, 156, 160);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 60px;
    padding-top: 30px ;
    color: rgb(255, 255, 255);
}
#color-element{
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}