*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: wheat;
    
}
section{
    width: 100%;
    height:100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}
#papa{
    background-color: teal;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 80px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}    
#papa div{
    margin:3px;
    padding-bottom: 3px;
}
#papa div input{
    float:right;
    align-content: flex-end;
}
#btn{
    padding:2px 111px ;
}
#btn{
    padding-bottom: 3px;
}